*{
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(images/gynback.png);
    background-color: rgb(216, 175, 93);
    background-size: 300px;
}
.logo{
    margin-top: 25px;
    width: 450px;
    border-radius: 30px;
}
.span{
    color: white;
}
.OpeningNextMonth{
    width: fit-content;
    margin: 0 auto;
    font-size: 50px;
    background-color: white;
    border-radius: 30px;
    font-family: arial;
}
.divopening{
    margin-top: 250px;
}
