@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@font-face { font-family: Montserrat; src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"); }

@font-face {
    font-family: "originalburger";
    src: url(fonts/OriginalBurger-Regular.ttf);
}

@font-face {
    font-family: "onion";
    src: url(fonts/OriginalBurger-Regular.ttf);
}

body { margin: 0px; font-family: Montserrat; }
.backgroundmat{background-image: url(images/background.jpg);}

.img-wrapper {  text-align: center; padding-top: 2.5em; padding-bottom: 2em;}

.img-wrapper img { width: 20em;padding: 4px 3px 0px 10px; border-radius: 0em; }

.menu-wrapper {  width: 100%; margin: 0px auto; z-index: -1 !important; }

.category-title-wrapper { width: 85%; margin: 0px auto; text-align: center;font-weight: 500; -webkit-text-stroke-width: 0.07px;
    -webkit-text-stroke-color: rgb(0, 0, 0); }

.category-title-wrapper h2 { font-size: 50px; font-weight: 800; color: rgb(216, 175, 93); text-transform: uppercase; }

.item-wrapper { display: flex; flex-direction: row; width: 85%; margin: -18px auto; align-items: baseline; }

.item { flex-basis: 86%;  }

.price { flex-basis: 14%;  text-align: right; }

.item-title {font-family: originalburger; text-transform: capitalize; font-size: 26px; font-weight: 500; color: white; }

.item-description {font-family: onion; font-size: 16px; color: rgb(216, 175, 93); margin-top: -20px; font-weight: 500; -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: rgb(0, 0, 0); }

.item-price { font-size: 16px; color: white; font-weight: 500; }

.arabic-title { text-align: center; font-size: 70px; -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(0, 0, 0); }

.arabic-item-price { font-size: 25px; color: white; font-weight: 500; }

.arabic-item-title { font-size: 30px; color: white; }

.item-ar { flex-basis: 70%;  }

.price-ar { flex-basis: 30%;  text-align: right; }

.divider { position: relative; height: 0.50em; width: 85%; margin: 1em auto 3em; background-color: rgb(216, 175, 93); color: rgb(235, 235, 235); z-index: 2 !important; }
